<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Demo SEO | Porto - Responsive HTML5 Template</title>	

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">
		
		<meta name="robots" content="noindex">
		<meta name="googlebot" content="noindex">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="ui/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="ui/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="ui/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="ui/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="ui/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="ui/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="ui/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="ui/css/theme.css">
		<link rel="stylesheet" href="ui/css/theme-elements.css">
		<link rel="stylesheet" href="ui/css/theme-blog.css">
		<link rel="stylesheet" href="ui/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="ui/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="ui/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="ui/vendor/rs-plugin/css/navigation.css">
		
		<!-- Demo CSS -->
		<link rel="stylesheet" href="ui/css/demos/demo-seo.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="ui/css/skins/skin-seo.css"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="ui/css/custom.css">

		<!-- Head Libs -->
		<script src="ui/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body data-target="#header" data-spy="scroll" data-offset="100">

		<div class="body">
			<header id="header" class="header-transparent header-effect-shrink appear-animation" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}" data-appear-animation="fadeIn" data-appear-animation-delay="200">
				<div class="header-body border-top-0 header-body-bottom-border">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo">
                                        <div style="width: 300px; height: 48px; overflow: hidden;">
                                            <a href="/">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="80 230 300 512" data-svgdocument="" id="_o9V3MYcedNTyeUnJwCn-0" class="fl-svgdocument" x="0" y="0" overflow="hidden" data-bbox="83.65710004071661 236.25869925632242 235.01311423539028 41.479709618516154">
                                                    <path text="Abaküs Yazılım" text-anchor="start" font-size="100" letter-spacing="-6" side="left" offset="0" dx="0" dy="0" space="preserve" href="" font-family="Allerta Stencil" font-scale="contain" transform="matrix(0.3546205759048462, 0, 0, 0.3546205759048462, 136.2347412109375, 267.879150390625)" x="0" y="0" fill="#4c96d7" data-fl-textpath="" id="_7QQkBmlxZJOCvwgguc7QG" font-style="normal" font-weight="400" d="M 42.97-71.88L 67.97 0L 55.86 0L 37.21-53.91L 18.36 0L 6.15 0L 31.35-71.88L 42.97-71.88ZM 30.57-22.85L 43.65-22.85L 46.48-14.94L 27.83-14.94L 30.57-22.85ZM 76.52109375 0L 76.52109375-75.88L 88.33109375000001-75.88L 88.33109375000001-6.54Q 88.24109375-5.18  88.04109375-3.42Q 87.85109375-1.66  87.75109375 0L 87.75109375 0L 76.52109375 0ZM 124.66109374999999-38.38L 124.66109374999999-38.38Q 125.83109375000001-33.89  125.83109375000001-28.52L 125.83109375000001-28.52Q 125.83109375000001-22.95  124.52109375-17.68Q 123.20109375-12.4  120.51109375-8.35Q 117.83109375000001-4.3  113.77109375-1.9Q 109.72109375 0.49  104.25109375 0.49L 104.25109375 0.49Q 100.83109375000001 0.49  97.71109375-0.29Q 94.58109375000001-1.07  92.34109375-2.44L 92.34109375-2.44L 92.34109375-12.6Q 93.80109375-10.94  95.81109375-9.86Q 97.81109375-8.79  100.25109375-8.79L 100.25109375-8.79Q 103.18109375-8.79  105.57109375-10.25Q 107.96109375-11.72  109.67109375-14.21Q 111.38109374999999-16.7  112.41109374999999-20.12Q 113.43109375-23.54  113.43109375-27.44L 113.43109375-27.44Q 113.43109375-31.25  112.50109375-34.67Q 111.58109375000001-38.09  109.97109375-40.72Q 108.35109374999999-43.36  106.01109375-44.92Q 103.67109375-46.48  100.74109375-46.48L 100.74109375-46.48Q 98.20109375-46.48  96.10109375-45.46Q 94.00109375-44.43  92.34109375-42.48L 92.34109375-42.48L 92.34109375-52.93Q 94.58109375000001-54.2  97.32109375-54.88Q 100.05109375-55.57  102.98109375-55.57L 102.98109375-55.57Q 106.21109375-55.57  109.53109375-54.69Q 112.85109374999999-53.81  115.73109375-51.76Q 118.61109375000001-49.71  121.00109375-46.39Q 123.39109375000001-43.07  124.66109374999999-38.38ZM 142.68875-16.6L 142.68875-16.6Q 142.68875-12.21  144.49875-10.06Q 146.29874999999998-7.91  149.71875-7.52L 149.71875-7.52L 149.71875 0.39Q 149.32875 0.49  148.44875 0.49L 148.44875 0.49Q 145.12875 0.49  142.04874999999998-0.39Q 138.97875-1.27  136.62875-3.22Q 134.28875-5.18  132.96875-8.4Q 131.64875-11.62  131.64875-16.31L 131.64875-16.31Q 131.64875-20.8  133.55875-24.07Q 135.45875-27.34  138.43875-29.44Q 141.41875-31.54  145.22875-32.57Q 149.03875-33.59  152.93875-33.59L 152.93875-33.59L 157.23875-33.59L 157.23875-26.66L 155.08875-26.66Q 153.13875000000002-26.66  150.98875-26.27Q 148.83875-25.88  146.98875-24.8Q 145.12875-23.73  143.90875-21.73Q 142.68875-19.73  142.68875-16.6ZM 173.05875-17.09L 173.05875-16.31Q 173.05875-15.53  173.15875-14.01Q 173.25875-12.5  173.54874999999998-10.94Q 173.83875-9.38  174.47875-8.11Q 175.10875-6.84  176.17875-6.45L 176.17875-6.45L 173.05875 0.1Q 171.78875 0.1  170.36875-0.49Q 168.95875-1.07  167.63875000000002-2.15Q 166.31875-3.22  165.38875000000002-4.54Q 164.46875-5.86  163.97875-7.42L 163.97875-7.42Q 162.99875-4.98  160.11875-3.08Q 157.23875-1.17  153.71875-0.29L 153.71875-0.29L 153.71875-7.71Q 156.06875-8.2  157.96875-9.62Q 159.87875-11.04  161.23875-12.99L 161.23875-12.99L 161.23875-33.59Q 161.23875-38.38  160.75875-41.21Q 160.26875-44.04  159.09875-45.36Q 157.91875-46.68  156.20875-47.02Q 154.50875-47.36  152.15875-47.36L 152.15875-47.36Q 150.00875-47.36  148.10875-46.83Q 146.19875-46.29  144.58875-45.56Q 142.97875-44.82  141.75875-43.95Q 140.53875-43.07  139.94875-42.58L 139.94875-42.58L 135.55875-49.32Q 136.53875-50.39  138.48875-51.51Q 140.43875-52.64  142.97875-53.52Q 145.51875-54.39  148.49875-54.93Q 151.47875-55.47  154.69875-55.47L 154.69875-55.47Q 157.62875-55.47  160.40875-54.88Q 163.19875-54.3  165.48875-52.93Q 167.78875-51.56  169.49875-49.27Q 171.19875-46.97  171.88875000000002-43.55L 171.88875000000002-43.55Q 172.56875-40.14  172.81875-36.67Q 173.05875-33.2  173.05875-29.79L 173.05875-29.79L 173.05875-17.09ZM 228.5825-55.08L 209.2425-27.64L 231.1225 0L 217.64249999999998 0L 201.6325-21.09L 201.6325-34.67L 215.3025-55.08L 228.5825-55.08ZM 197.6225 0L 185.7125 0L 185.7125-75.88L 197.6225-75.88L 197.6225 0ZM 248.65437500000002-55.08L 248.65437500000002-25.1Q 248.65437500000002-21.68  248.944375-18.7Q 249.244375-15.72  250.214375-13.48Q 251.194375-11.23  253.144375-9.86Q 255.104375-8.5  258.324375-8.5L 258.324375-8.5Q 259.594375-8.5  261.934375-8.89Q 264.284375-9.28  266.434375-10.16L 266.434375-10.16L 266.434375-2.93Q 263.89437499999997-1.56  260.914375-0.54Q 257.934375 0.49  255.004375 0.49L 255.004375 0.49Q 252.664375 0.49  250.804375 0.05Q 248.944375-0.39  247.334375-1.32Q 245.724375-2.25  244.264375-3.42Q 242.794375-4.59  241.334375-6.05L 241.334375-6.05Q 239.674375-7.71  238.694375-9.91Q 237.714375-12.11  237.274375-14.5Q 236.844375-16.89  236.794375-19.34Q 236.744375-21.78  236.744375-24.12L 236.744375-24.12L 236.744375-55.08L 248.65437500000002-55.08ZM 270.434375-55.08L 282.344375-55.08L 282.344375 0L 271.704375 0L 270.434375-5.66L 270.434375-55.08ZM 282.154375-69.43L 282.154375-69.43Q 282.154375-66.5  280.104375-64.45Q 278.054375-62.4  275.124375-62.4L 275.124375-62.4Q 272.194375-62.4  270.14437499999997-64.45Q 268.094375-66.5  268.094375-69.43L 268.094375-69.43Q 268.094375-72.36  270.14437499999997-74.37Q 272.194375-76.37  275.124375-76.37L 275.124375-76.37Q 278.054375-76.37  280.104375-74.37Q 282.154375-72.36  282.154375-69.43ZM 253.144375-69.43L 253.144375-69.43Q 253.144375-66.5  251.094375-64.45Q 249.044375-62.4  246.114375-62.4L 246.114375-62.4Q 243.184375-62.4  241.134375-64.45Q 239.084375-66.5  239.084375-69.43L 239.084375-69.43Q 239.084375-72.36  241.134375-74.37Q 243.184375-76.37  246.114375-76.37L 246.114375-76.37Q 249.044375-76.37  251.094375-74.37Q 253.144375-72.36  253.144375-69.43ZM 291.68078125-39.36L 291.68078125-39.36Q 291.68078125-43.07  293.05078125-46.04Q 294.41078125-49.02  296.85078125-51.12Q 299.30078125-53.22  302.37078125-54.44Q 305.45078125-55.66  308.77078125-55.96L 308.77078125-55.96L 308.77078125-46.19Q 306.23078125-45.7  304.81078125-44.14Q 303.40078125-42.58  303.40078125-39.75L 303.40078125-39.75Q 303.40078125-37.4  304.91078125-35.99Q 306.43078125-34.57  308.77078125-33.5L 308.77078125-33.5L 308.77078125-23.05Q 307.11078125-23.54  305.40078125-24.17Q 303.69078125-24.8  302.03078125-25.59L 302.03078125-25.59Q 296.85078125-28.32  294.27078125-31.35Q 291.68078125-34.38  291.68078125-39.36ZM 328.10078125-51.56L 324.30078125-43.46Q 321.66078125-44.82  318.68078125-45.51Q 315.70078125-46.19  312.77078125-46.39L 312.77078125-46.39L 312.77078125-56.05Q 317.17078125-55.86  320.88078125-54.83Q 324.59078125-53.81  328.10078125-51.56L 328.10078125-51.56ZM 291.87078125-4.39L 296.85078125-12.3Q 298.81078125-10.94  301.49078125-9.77Q 304.18078125-8.59  308.28078125-8.59L 308.28078125-8.59L 308.77078125-8.59L 308.77078125 0.49Q 306.33078125 0.49  304.28078125 0.34Q 302.23078125 0.2  300.22078125-0.34Q 298.22078125-0.88  296.17078125-1.86Q 294.12078125-2.83  291.87078125-4.39L 291.87078125-4.39ZM 312.77078125-21.58L 312.77078125-31.93Q 315.70078125-30.96  318.73078125-29.79Q 321.76078125-28.61  324.25078125-26.86Q 326.74078125-25.1  328.35078125-22.51Q 329.96078124999997-19.92  329.96078124999997-16.02L 329.96078124999997-16.02Q 329.96078124999997-12.21  328.59078125-9.38Q 327.23078125-6.54  324.93078125-4.49Q 322.64078125000003-2.44  319.51078125-1.27Q 316.39078125-0.1  312.77078125 0.29L 312.77078125 0.29L 312.77078125-8.98Q 316.09078125-9.57  317.90078125-11.08Q 319.71078124999997-12.6  319.71078124999997-15.14L 319.71078124999997-15.14Q 319.71078124999997-17.68  317.70078125-19.09Q 315.70078125-20.51  312.77078125-21.58L 312.77078125-21.58ZM 377.24234375-24.02L 397.16234375-71.97L 410.54234375-71.97L 389.15234375-29.3L 389.15234375 0L 377.24234375 0L 377.24234375-24.02ZM 356.92234375-71.97L 370.30234375-71.97L 381.14234375-43.95L 375.87234375-31.15L 356.92234375-71.97ZM 426.610625-16.6L 426.610625-16.6Q 426.610625-12.21  428.420625-10.06Q 430.220625-7.91  433.640625-7.52L 433.640625-7.52L 433.640625 0.39Q 433.250625 0.49  432.370625 0.49L 432.370625 0.49Q 429.050625 0.49  425.970625-0.39Q 422.900625-1.27  420.550625-3.22Q 418.210625-5.18  416.890625-8.4Q 415.570625-11.62  415.570625-16.31L 415.570625-16.31Q 415.570625-20.8  417.480625-24.07Q 419.380625-27.34  422.360625-29.44Q 425.340625-31.54  429.150625-32.57Q 432.960625-33.59  436.860625-33.59L 436.860625-33.59L 441.160625-33.59L 441.160625-26.66L 439.010625-26.66Q 437.060625-26.66  434.910625-26.27Q 432.760625-25.88  430.910625-24.8Q 429.050625-23.73  427.830625-21.73Q 426.610625-19.73  426.610625-16.6ZM 456.98062500000003-17.09L 456.98062500000003-16.31Q 456.98062500000003-15.53  457.080625-14.01Q 457.180625-12.5  457.470625-10.94Q 457.760625-9.38  458.400625-8.11Q 459.030625-6.84  460.100625-6.45L 460.100625-6.45L 456.98062500000003 0.1Q 455.710625 0.1  454.290625-0.49Q 452.880625-1.07  451.560625-2.15Q 450.240625-3.22  449.310625-4.54Q 448.390625-5.86  447.900625-7.42L 447.900625-7.42Q 446.920625-4.98  444.040625-3.08Q 441.160625-1.17  437.640625-0.29L 437.640625-0.29L 437.640625-7.71Q 439.990625-8.2  441.890625-9.62Q 443.80062499999997-11.04  445.160625-12.99L 445.160625-12.99L 445.160625-33.59Q 445.160625-38.38  444.680625-41.21Q 444.190625-44.04  443.020625-45.36Q 441.840625-46.68  440.130625-47.02Q 438.430625-47.36  436.080625-47.36L 436.080625-47.36Q 433.930625-47.36  432.030625-46.83Q 430.120625-46.29  428.510625-45.56Q 426.900625-44.82  425.680625-43.95Q 424.460625-43.07  423.870625-42.58L 423.870625-42.58L 419.480625-49.32Q 420.460625-50.39  422.410625-51.51Q 424.360625-52.64  426.900625-53.52Q 429.440625-54.39  432.420625-54.93Q 435.400625-55.47  438.620625-55.47L 438.620625-55.47Q 441.55062499999997-55.47  444.330625-54.88Q 447.120625-54.3  449.410625-52.93Q 451.710625-51.56  453.420625-49.27Q 455.120625-46.97  455.810625-43.55L 455.810625-43.55Q 456.490625-40.14  456.740625-36.67Q 456.98062500000003-33.2  456.98062500000003-29.79L 456.98062500000003-29.79L 456.98062500000003-17.09ZM 469.634375-45.61L 469.634375-55.08L 511.524375-55.08L 511.524375-45.61L 483.204375-11.04L 481.254375-9.47L 511.524375-9.47L 511.524375 0L 469.634375 0L 469.634375-9.47L 497.954375-44.04L 499.904375-45.61L 469.634375-45.61ZM 534.13578125-55.08L 534.13578125 0L 522.22578125 0L 522.22578125-55.08L 534.13578125-55.08ZM 556.46375-75.88L 556.46375-16.8Q 556.46375-13.48  557.34375-11.57Q 558.22375-9.67  559.78375-8.74Q 561.34375-7.81  563.34375-7.52Q 565.34375-7.23  567.69375-7.23L 567.69375-7.23L 567.69375 0Q 566.42375 0.2  565.05375 0.29L 565.05375 0.29Q 563.98375 0.39  562.51375 0.44Q 561.05375 0.49  559.58375 0.49L 559.58375 0.49Q 558.12375 0.49  556.65375 0.39Q 555.19375 0.29  554.02375 0.1L 554.02375 0.1Q 550.70375-0.59  548.84375-2.83Q 546.98375-5.08  546.01375-7.86Q 545.03375-10.64  544.79375-13.28Q 544.54375-15.92  544.54375-17.38L 544.54375-17.38L 544.54375-18.55L 544.54375-75.88L 556.46375-75.88ZM 586.00296875-55.08L 586.00296875 0L 574.09296875 0L 574.09296875-55.08L 586.00296875-55.08ZM 596.6109375-55.08L 607.2509375-55.08L 608.5209375-49.41L 608.5209375 0L 596.6109375 0L 596.6109375-55.08ZM 653.3509375-55.66L 653.3509375-55.66Q 656.6709375-55.66  659.6009375-54.35Q 662.5309374999999-53.03  664.7209375-50.59Q 666.9209375-48.14  668.1409375000001-44.78Q 669.3609375-41.41  669.3609375-37.5L 669.3609375-37.5L 669.3609375 0L 657.6409375000001 0L 657.6409375000001-29.98Q 657.6409375000001-33.3  657.5909375-36.28Q 657.5509375-39.26  656.9609375-41.6Q 656.3709375-43.95  655.0609375-45.26Q 653.7409375-46.58  651.0009375-46.58L 651.0009375-46.58Q 650.3209375-46.58  648.0709375-46.29Q 645.8309375-46  642.9009375-44.63L 642.9009375-44.63L 642.9009375-52.34Q 645.5309375-53.91  648.2709375-54.79Q 651.0009375-55.66  653.3509375-55.66ZM 636.4509375-48.14L 636.4509375-48.14Q 637.6209375-46.39  638.1609375-44.38Q 638.7009375-42.38  638.8409375-40.23Q 638.9909375-38.09  638.9409375-35.79Q 638.8909375-33.5  638.8909375-30.96L 638.8909375-30.96L 638.8909375 0L 627.0809375 0L 627.0809375-29.98Q 627.0809375-33.3  627.0809375-36.28Q 627.0809375-39.26  626.4909375-41.6Q 625.9109375-43.95  624.5409375-45.26Q 623.1709375-46.58  620.5309375-46.58L 620.5309375-46.58Q 619.3609375-46.58  617.0709375-46.14Q 614.7709375-45.7  612.5309375-44.63L 612.5309375-44.63L 612.5309375-52.34Q 614.8709375-53.71  617.5609375-54.59Q 620.2409375-55.47  622.8809375-55.47L 622.8809375-55.47Q 627.3709375-55.47  630.4509375-53.61Q 633.5209375-51.76  636.4509375-48.14Z"></path>
                                                    <g id="_Ys5gJCnShXkyRL-dJjim0" transform="matrix(0.8125, 0, 0, 0.8125, 48, 50.921356201171875)">
                                                        <path id="_njTM9WvKpUI9Cdld0q9Mg" d="M-396 292.8c0.5-0.8 0.5-1.7 0.1-2.5c-0.2-0.5-0.6-0.9-1.1-1.1c-0.3-0.2-0.6-0.3-1-0.3c-0.1 0-0.2 0-0.4 0   c-0.9 0-1.8 0.5-2.3 1.3c-0.6 1-0.4 2.1 0.2 3c0.2 0.3 0.5 0.5 0.8 0.7c0.4 0.2 0.9 0.4 1.3 0.4c0.1 0 0.1 0 0.2 0   C-397.2 294-396.4 293.6-396 292.8z" fill="#4c96d7" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.4091186523438, -294.17388916015625)"></path><path id="_EPR1311xUBS4yaGeOeRSu" d="M-395.5 304.9c-0.5-0.5-1.3-0.5-1.8 0c-0.5 0.5-0.5 1.3 0 1.8c1.5 1.4 3.2 2.5 5.1 3.2c0-0.2 0-0.4 0-0.6   c0-0.7 0.2-1.3 0.5-1.9C-393.1 306.8-394.4 306-395.5 304.9z" fill="#1761a0" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.5341796875, -293.48583984375)"></path><path id="_d1eV5wz1pSQYNO5f7X612" d="M-380.5 304.9c-1.1 1.1-2.4 1.9-3.8 2.4c0.3 0.6 0.5 1.2 0.5 1.9c0 0.2 0 0.4-0.1 0.6c2-0.6 3.7-1.7 5.2-3.2   c0.5-0.5 0.5-1.3 0-1.8C-379.2 304.4-380 304.4-380.5 304.9z" fill="#1761a0" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.8450927734375, -293.4609680175781)"></path><path id="_8tezbcfapC6JbbErHqgPZ" d="M-398.5 295.6c-0.7 0-1.3-0.2-1.9-0.6c-0.2-0.1-0.3-0.2-0.5-0.3c-0.4 2-0.4 4.1 0.2 6.1c0.1 0.6 0.7 0.9 1.2 0.9   c0.1 0 0.2 0 0.3 0c0.7-0.2 1.1-0.9 0.9-1.5C-398.7 298.6-398.7 297.1-398.5 295.6z" fill="#4c96d7" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.5411987304688, -293.8068542480469)"></path><path id="_KejGAnvjBc-ZysR8fSmw6" d="M-389.9 285.6c-0.2-0.7-0.9-1.1-1.5-0.9c-2 0.5-3.8 1.5-5.3 2.9c0.2 0.1 0.4 0.2 0.5 0.3c0.6 0.3 1.1 0.8 1.4 1.4   c1.2-1 2.5-1.7 4-2.1C-390.1 286.9-389.7 286.3-389.9 285.6z" fill="#4c96d7" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.661865234375, -294.6300964355469)"></path><path id="_1yw99xWY_AcEl5jYIXRdE" d="M-379.8 287.8c0.2-0.1 0.4-0.2 0.5-0.3c-1.5-1.4-3.3-2.3-5.3-2.9c-0.7-0.2-1.3 0.2-1.5 0.9c-0.2 0.7 0.2 1.3 0.9 1.5   c1.5 0.4 2.8 1.1 4 2.1C-380.9 288.7-380.4 288.2-379.8 287.8z" fill="#8dcaff" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.4905395507812, -294.4464416503906)"></path><path id="_BHmYJk9BeSnxYmihIdF5J" d="M-375.2 294.7c-0.2 0.1-0.3 0.2-0.5 0.4c-0.6 0.3-1.2 0.5-1.9 0.6c0.3 1.5 0.2 3.1-0.2 4.5c-0.2 0.7 0.2 1.3 0.9 1.5   c0.1 0 0.2 0 0.3 0c0.5 0 1.1-0.4 1.2-0.9C-374.8 298.8-374.7 296.7-375.2 294.7z" fill="#8dcaff" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.9392700195312, -293.8068542480469)"></path><path id="_iRqgxQp7ue1v1bUF_UN7I" d="M-376.4 293.8c0.3-0.2 0.6-0.4 0.8-0.7c0.6-0.8 0.7-2 0.2-2.9c-0.5-0.9-1.4-1.3-2.3-1.3c-0.1 0-0.2 0-0.3 0   c-0.3 0-0.7 0.2-1 0.3c-0.5 0.3-0.8 0.7-1 1.1c-0.4 0.8-0.4 1.7 0.1 2.5c0.5 0.8 1.3 1.3 2.2 1.3c0 0 0.1 0 0.1 0   C-377.3 294.1-376.8 294-376.4 293.8z" fill="#8dcaff" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.8236083984375, -294.17388916015625)"></path><path id="_sT2ba1MaX17GVB85GRmZ1" d="M-388 306.6c-0.9 0-1.8 0.5-2.2 1.2c-0.3 0.4-0.4 0.9-0.4 1.5c0 0.4 0.1 0.7 0.2 1c0.4 1 1.4 1.6 2.5 1.6   c1.1 0 2-0.7 2.5-1.6c0.1-0.3 0.2-0.7 0.2-1c0-0.5-0.2-1-0.4-1.5C-386.3 307-387.1 306.6-388 306.6z" fill="#1761a0" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.3961791992188, -293.6236572265625)"></path>
                                                    </g>
                                                </svg>
                                            </a>
                                        </div>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav header-nav-links justify-content-start order-2 order-lg-1">
										<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown">
														<a class="dropdown-item active" data-hash data-hash-offset="95" href="#home">Anasayfa</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item"  data-hash data-hash-offset="95" href="#about">Hakkımızda</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item"  data-hash data-hash-offset="95" href="#solutions">Hizmetler</a>
													</li>
													<li class="dropdown">
														<a class="dropdown-item"  data-hash data-hash-offset="95" href="#news">Blog</a>
													</li>
                                                    <li class="dropdown">
														<a class="dropdown-item"  data-hash data-hash-offset="95" href="#contact">İletişim</a>
													</li>
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
									<a id="whatsapp_btn" class="btn btn-primary btn-rounded font-weight-semibold text-3 btn-px-5 btn-py-2 order-1 order-lg-2 d-none d-md-block mr-3 mr-lg-0" data-hash data-hash-offset="65" href="javascript:void(0)"><i class="fab fa-whatsapp"></i> WhatsApp</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">
			
                <%- body %>

			</div> 

			<footer id="footer" class="mt-0">
				<div class="container">
					<div class="row py-5 pb-0">
						<div class="col-lg-3 align-self-center mb-5 mb-lg-0">
							<a href="#">
								<div style="height: 200px;">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="80 150 332 422" data-svgdocument="" id="_o9V3MYcedNTyeUnJwCn-0" class="fl-svgdocument" x="0" y="0" overflow="hidden" data-bbox="83.65710004071661 236.25869925632242 235.01311423539028 41.479709618516154"><path text="Abaküs Yazılım" text-anchor="start" font-size="100" letter-spacing="0" side="left" offset="0" dx="0" dy="0" space="preserve" href="" font-family="Allerta Stencil" font-scale="contain" transform="matrix(0.3546205759048462, 0, 0, 0.3546205759048462, 136.2347412109375, 267.879150390625)" x="0" y="0" fill="rgba(231, 237, 240, 1)" data-fl-textpath="" id="_7QQkBmlxZJOCvwgguc7QG" font-style="normal" font-weight="400" d="M 42.97-71.88L 67.97 0L 55.86 0L 37.21-53.91L 18.36 0L 6.15 0L 31.35-71.88L 42.97-71.88ZM 30.57-22.85L 43.65-22.85L 46.48-14.94L 27.83-14.94L 30.57-22.85ZM 82.52109375 0L 82.52109375-75.88L 94.33109375000001-75.88L 94.33109375000001-6.54Q 94.24109375-5.18  94.04109375-3.42Q 93.85109375-1.66  93.75109375 0L 93.75109375 0L 82.52109375 0ZM 130.66109375-38.38L 130.66109375-38.38Q 131.83109375-33.89  131.83109375-28.52L 131.83109375-28.52Q 131.83109375-22.95  130.52109375-17.68Q 129.20109374999998-12.4  126.51109375-8.35Q 123.83109375000001-4.3  119.77109375-1.9Q 115.72109375 0.49  110.25109375 0.49L 110.25109375 0.49Q 106.83109375000001 0.49  103.71109375-0.29Q 100.58109375000001-1.07  98.34109375-2.44L 98.34109375-2.44L 98.34109375-12.6Q 99.80109375-10.94  101.81109375-9.86Q 103.81109375-8.79  106.25109375-8.79L 106.25109375-8.79Q 109.18109375-8.79  111.57109375-10.25Q 113.96109375-11.72  115.67109375-14.21Q 117.38109374999999-16.7  118.41109374999999-20.12Q 119.43109375-23.54  119.43109375-27.44L 119.43109375-27.44Q 119.43109375-31.25  118.50109375-34.67Q 117.58109375000001-38.09  115.97109375-40.72Q 114.35109374999999-43.36  112.01109375-44.92Q 109.67109375-46.48  106.74109375-46.48L 106.74109375-46.48Q 104.20109375-46.48  102.10109375-45.46Q 100.00109375-44.43  98.34109375-42.48L 98.34109375-42.48L 98.34109375-52.93Q 100.58109375000001-54.2  103.32109375-54.88Q 106.05109375-55.57  108.98109375-55.57L 108.98109375-55.57Q 112.21109375-55.57  115.53109375-54.69Q 118.85109374999999-53.81  121.73109375-51.76Q 124.61109375000001-49.71  127.00109375-46.39Q 129.39109375-43.07  130.66109375-38.38ZM 154.68875-16.6L 154.68875-16.6Q 154.68875-12.21  156.49875-10.06Q 158.29874999999998-7.91  161.71875-7.52L 161.71875-7.52L 161.71875 0.39Q 161.32875 0.49  160.44875 0.49L 160.44875 0.49Q 157.12875 0.49  154.04874999999998-0.39Q 150.97875-1.27  148.62875-3.22Q 146.28875-5.18  144.96875-8.4Q 143.64875-11.62  143.64875-16.31L 143.64875-16.31Q 143.64875-20.8  145.55875-24.07Q 147.45875-27.34  150.43875-29.44Q 153.41875-31.54  157.22875-32.57Q 161.03875-33.59  164.93875-33.59L 164.93875-33.59L 169.23875-33.59L 169.23875-26.66L 167.08875-26.66Q 165.13875000000002-26.66  162.98875-26.27Q 160.83875-25.88  158.98875-24.8Q 157.12875-23.73  155.90875-21.73Q 154.68875-19.73  154.68875-16.6ZM 185.05875-17.09L 185.05875-16.31Q 185.05875-15.53  185.15875-14.01Q 185.25875-12.5  185.54874999999998-10.94Q 185.83875-9.38  186.47875-8.11Q 187.10875-6.84  188.17875-6.45L 188.17875-6.45L 185.05875 0.1Q 183.78875 0.1  182.36875-0.49Q 180.95875-1.07  179.63875000000002-2.15Q 178.31875-3.22  177.38875000000002-4.54Q 176.46875-5.86  175.97875-7.42L 175.97875-7.42Q 174.99875-4.98  172.11875-3.08Q 169.23875-1.17  165.71875-0.29L 165.71875-0.29L 165.71875-7.71Q 168.06875-8.2  169.96875-9.62Q 171.87875-11.04  173.23875-12.99L 173.23875-12.99L 173.23875-33.59Q 173.23875-38.38  172.75875-41.21Q 172.26875-44.04  171.09875-45.36Q 169.91875-46.68  168.20875-47.02Q 166.50875-47.36  164.15875-47.36L 164.15875-47.36Q 162.00875-47.36  160.10875-46.83Q 158.19875-46.29  156.58875-45.56Q 154.97875-44.82  153.75875-43.95Q 152.53875-43.07  151.94875-42.58L 151.94875-42.58L 147.55875-49.32Q 148.53875-50.39  150.48875-51.51Q 152.43875-52.64  154.97875-53.52Q 157.51875-54.39  160.49875-54.93Q 163.47875-55.47  166.69875-55.47L 166.69875-55.47Q 169.62875-55.47  172.40875-54.88Q 175.19875-54.3  177.48875-52.93Q 179.78875-51.56  181.49875-49.27Q 183.19875-46.97  183.88875000000002-43.55L 183.88875000000002-43.55Q 184.56875-40.14  184.81875-36.67Q 185.05875-33.2  185.05875-29.79L 185.05875-29.79L 185.05875-17.09ZM 246.5825-55.08L 227.2425-27.64L 249.1225 0L 235.64249999999998 0L 219.6325-21.09L 219.6325-34.67L 233.3025-55.08L 246.5825-55.08ZM 215.6225 0L 203.7125 0L 203.7125-75.88L 215.6225-75.88L 215.6225 0ZM 272.654375-55.08L 272.654375-25.1Q 272.654375-21.68  272.944375-18.7Q 273.244375-15.72  274.214375-13.48Q 275.194375-11.23  277.144375-9.86Q 279.104375-8.5  282.324375-8.5L 282.324375-8.5Q 283.594375-8.5  285.934375-8.89Q 288.284375-9.28  290.434375-10.16L 290.434375-10.16L 290.434375-2.93Q 287.89437499999997-1.56  284.914375-0.54Q 281.934375 0.49  279.004375 0.49L 279.004375 0.49Q 276.664375 0.49  274.804375 0.05Q 272.944375-0.39  271.334375-1.32Q 269.724375-2.25  268.264375-3.42Q 266.794375-4.59  265.334375-6.05L 265.334375-6.05Q 263.674375-7.71  262.694375-9.91Q 261.714375-12.11  261.274375-14.5Q 260.844375-16.89  260.794375-19.34Q 260.744375-21.78  260.744375-24.12L 260.744375-24.12L 260.744375-55.08L 272.654375-55.08ZM 294.434375-55.08L 306.344375-55.08L 306.344375 0L 295.704375 0L 294.434375-5.66L 294.434375-55.08ZM 306.154375-69.43L 306.154375-69.43Q 306.154375-66.5  304.104375-64.45Q 302.054375-62.4  299.124375-62.4L 299.124375-62.4Q 296.194375-62.4  294.14437499999997-64.45Q 292.094375-66.5  292.094375-69.43L 292.094375-69.43Q 292.094375-72.36  294.14437499999997-74.37Q 296.194375-76.37  299.124375-76.37L 299.124375-76.37Q 302.054375-76.37  304.104375-74.37Q 306.154375-72.36  306.154375-69.43ZM 277.144375-69.43L 277.144375-69.43Q 277.144375-66.5  275.094375-64.45Q 273.044375-62.4  270.114375-62.4L 270.114375-62.4Q 267.184375-62.4  265.134375-64.45Q 263.084375-66.5  263.084375-69.43L 263.084375-69.43Q 263.084375-72.36  265.134375-74.37Q 267.184375-76.37  270.114375-76.37L 270.114375-76.37Q 273.044375-76.37  275.094375-74.37Q 277.144375-72.36  277.144375-69.43ZM 321.68078125-39.36L 321.68078125-39.36Q 321.68078125-43.07  323.05078125-46.04Q 324.41078125-49.02  326.85078125-51.12Q 329.30078125-53.22  332.37078125-54.44Q 335.45078125-55.66  338.77078125-55.96L 338.77078125-55.96L 338.77078125-46.19Q 336.23078125-45.7  334.81078125-44.14Q 333.40078125-42.58  333.40078125-39.75L 333.40078125-39.75Q 333.40078125-37.4  334.91078125-35.99Q 336.43078125-34.57  338.77078125-33.5L 338.77078125-33.5L 338.77078125-23.05Q 337.11078125-23.54  335.40078125-24.17Q 333.69078125-24.8  332.03078125-25.59L 332.03078125-25.59Q 326.85078125-28.32  324.27078125-31.35Q 321.68078125-34.38  321.68078125-39.36ZM 358.10078125-51.56L 354.30078125-43.46Q 351.66078125-44.82  348.68078125-45.51Q 345.70078125-46.19  342.77078125-46.39L 342.77078125-46.39L 342.77078125-56.05Q 347.17078125-55.86  350.88078125-54.83Q 354.59078125-53.81  358.10078125-51.56L 358.10078125-51.56ZM 321.87078125-4.39L 326.85078125-12.3Q 328.81078125-10.94  331.49078125-9.77Q 334.18078125-8.59  338.28078125-8.59L 338.28078125-8.59L 338.77078125-8.59L 338.77078125 0.49Q 336.33078125 0.49  334.28078125 0.34Q 332.23078125 0.2  330.22078125-0.34Q 328.22078125-0.88  326.17078125-1.86Q 324.12078125-2.83  321.87078125-4.39L 321.87078125-4.39ZM 342.77078125-21.58L 342.77078125-31.93Q 345.70078125-30.96  348.73078125-29.79Q 351.76078125-28.61  354.25078125-26.86Q 356.74078125-25.1  358.35078125-22.51Q 359.96078124999997-19.92  359.96078124999997-16.02L 359.96078124999997-16.02Q 359.96078124999997-12.21  358.59078125-9.38Q 357.23078125-6.54  354.93078125-4.49Q 352.64078125000003-2.44  349.51078125-1.27Q 346.39078125-0.1  342.77078125 0.29L 342.77078125 0.29L 342.77078125-8.98Q 346.09078125-9.57  347.90078125-11.08Q 349.71078124999997-12.6  349.71078124999997-15.14L 349.71078124999997-15.14Q 349.71078124999997-17.68  347.70078125-19.09Q 345.70078125-20.51  342.77078125-21.58L 342.77078125-21.58ZM 419.24234375-24.02L 439.16234375-71.97L 452.54234375-71.97L 431.15234375-29.3L 431.15234375 0L 419.24234375 0L 419.24234375-24.02ZM 398.92234375-71.97L 412.30234375-71.97L 423.14234375-43.95L 417.87234375-31.15L 398.92234375-71.97ZM 474.610625-16.6L 474.610625-16.6Q 474.610625-12.21  476.420625-10.06Q 478.220625-7.91  481.640625-7.52L 481.640625-7.52L 481.640625 0.39Q 481.250625 0.49  480.370625 0.49L 480.370625 0.49Q 477.050625 0.49  473.970625-0.39Q 470.900625-1.27  468.550625-3.22Q 466.210625-5.18  464.890625-8.4Q 463.570625-11.62  463.570625-16.31L 463.570625-16.31Q 463.570625-20.8  465.480625-24.07Q 467.380625-27.34  470.360625-29.44Q 473.340625-31.54  477.150625-32.57Q 480.960625-33.59  484.860625-33.59L 484.860625-33.59L 489.160625-33.59L 489.160625-26.66L 487.010625-26.66Q 485.060625-26.66  482.910625-26.27Q 480.760625-25.88  478.910625-24.8Q 477.050625-23.73  475.830625-21.73Q 474.610625-19.73  474.610625-16.6ZM 504.98062500000003-17.09L 504.98062500000003-16.31Q 504.98062500000003-15.53  505.080625-14.01Q 505.180625-12.5  505.470625-10.94Q 505.760625-9.38  506.400625-8.11Q 507.030625-6.84  508.100625-6.45L 508.100625-6.45L 504.98062500000003 0.1Q 503.710625 0.1  502.290625-0.49Q 500.880625-1.07  499.560625-2.15Q 498.240625-3.22  497.310625-4.54Q 496.390625-5.86  495.900625-7.42L 495.900625-7.42Q 494.920625-4.98  492.040625-3.08Q 489.160625-1.17  485.640625-0.29L 485.640625-0.29L 485.640625-7.71Q 487.990625-8.2  489.890625-9.62Q 491.80062499999997-11.04  493.160625-12.99L 493.160625-12.99L 493.160625-33.59Q 493.160625-38.38  492.680625-41.21Q 492.190625-44.04  491.020625-45.36Q 489.840625-46.68  488.130625-47.02Q 486.430625-47.36  484.080625-47.36L 484.080625-47.36Q 481.930625-47.36  480.030625-46.83Q 478.120625-46.29  476.510625-45.56Q 474.900625-44.82  473.680625-43.95Q 472.460625-43.07  471.870625-42.58L 471.870625-42.58L 467.480625-49.32Q 468.460625-50.39  470.410625-51.51Q 472.360625-52.64  474.900625-53.52Q 477.440625-54.39  480.420625-54.93Q 483.400625-55.47  486.620625-55.47L 486.620625-55.47Q 489.55062499999997-55.47  492.330625-54.88Q 495.120625-54.3  497.410625-52.93Q 499.710625-51.56  501.420625-49.27Q 503.120625-46.97  503.810625-43.55L 503.810625-43.55Q 504.490625-40.14  504.740625-36.67Q 504.98062500000003-33.2  504.98062500000003-29.79L 504.98062500000003-29.79L 504.98062500000003-17.09ZM 523.634375-45.61L 523.634375-55.08L 565.524375-55.08L 565.524375-45.61L 537.204375-11.04L 535.254375-9.47L 565.524375-9.47L 565.524375 0L 523.634375 0L 523.634375-9.47L 551.954375-44.04L 553.904375-45.61L 523.634375-45.61ZM 594.13578125-55.08L 594.13578125 0L 582.22578125 0L 582.22578125-55.08L 594.13578125-55.08ZM 622.46375-75.88L 622.46375-16.8Q 622.46375-13.48  623.34375-11.57Q 624.22375-9.67  625.78375-8.74Q 627.34375-7.81  629.34375-7.52Q 631.34375-7.23  633.69375-7.23L 633.69375-7.23L 633.69375 0Q 632.42375 0.2  631.05375 0.29L 631.05375 0.29Q 629.98375 0.39  628.51375 0.44Q 627.05375 0.49  625.58375 0.49L 625.58375 0.49Q 624.12375 0.49  622.65375 0.39Q 621.19375 0.29  620.02375 0.1L 620.02375 0.1Q 616.70375-0.59  614.84375-2.83Q 612.98375-5.08  612.01375-7.86Q 611.03375-10.64  610.79375-13.28Q 610.54375-15.92  610.54375-17.38L 610.54375-17.38L 610.54375-18.55L 610.54375-75.88L 622.46375-75.88ZM 658.00296875-55.08L 658.00296875 0L 646.09296875 0L 646.09296875-55.08L 658.00296875-55.08ZM 674.6109375-55.08L 685.2509375-55.08L 686.5209375-49.41L 686.5209375 0L 674.6109375 0L 674.6109375-55.08ZM 731.3509375-55.66L 731.3509375-55.66Q 734.6709375-55.66  737.6009375-54.35Q 740.5309374999999-53.03  742.7209375-50.59Q 744.9209375-48.14  746.1409375000001-44.78Q 747.3609375-41.41  747.3609375-37.5L 747.3609375-37.5L 747.3609375 0L 735.6409375000001 0L 735.6409375000001-29.98Q 735.6409375000001-33.3  735.5909375-36.28Q 735.5509375-39.26  734.9609375-41.6Q 734.3709375-43.95  733.0609375-45.26Q 731.7409375-46.58  729.0009375-46.58L 729.0009375-46.58Q 728.3209375-46.58  726.0709375-46.29Q 723.8309375-46  720.9009375-44.63L 720.9009375-44.63L 720.9009375-52.34Q 723.5309375-53.91  726.2709375-54.79Q 729.0009375-55.66  731.3509375-55.66ZM 714.4509375-48.14L 714.4509375-48.14Q 715.6209375-46.39  716.1609375-44.38Q 716.7009375-42.38  716.8409375-40.23Q 716.9909375-38.09  716.9409375-35.79Q 716.8909375-33.5  716.8909375-30.96L 716.8909375-30.96L 716.8909375 0L 705.0809375 0L 705.0809375-29.98Q 705.0809375-33.3  705.0809375-36.28Q 705.0809375-39.26  704.4909375-41.6Q 703.9109375-43.95  702.5409375-45.26Q 701.1709375-46.58  698.5309375-46.58L 698.5309375-46.58Q 697.3609375-46.58  695.0709375-46.14Q 692.7709375-45.7  690.5309375-44.63L 690.5309375-44.63L 690.5309375-52.34Q 692.8709375-53.71  695.5609375-54.59Q 698.2409375-55.47  700.8809375-55.47L 700.8809375-55.47Q 705.3709375-55.47  708.4509375-53.61Q 711.5209375-51.76  714.4509375-48.14Z"></path><g id="_Ys5gJCnShXkyRL-dJjim0" transform="matrix(0.8125, 0, 0, 0.8125, 48, 50.921356201171875)" fill="#e7edf2"><path id="_njTM9WvKpUI9Cdld0q9Mg" d="M-396 292.8c0.5-0.8 0.5-1.7 0.1-2.5c-0.2-0.5-0.6-0.9-1.1-1.1c-0.3-0.2-0.6-0.3-1-0.3c-0.1 0-0.2 0-0.4 0   c-0.9 0-1.8 0.5-2.3 1.3c-0.6 1-0.4 2.1 0.2 3c0.2 0.3 0.5 0.5 0.8 0.7c0.4 0.2 0.9 0.4 1.3 0.4c0.1 0 0.1 0 0.2 0   C-397.2 294-396.4 293.6-396 292.8z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.4091186523438, -294.17388916015625)"></path><path id="_EPR1311xUBS4yaGeOeRSu" d="M-395.5 304.9c-0.5-0.5-1.3-0.5-1.8 0c-0.5 0.5-0.5 1.3 0 1.8c1.5 1.4 3.2 2.5 5.1 3.2c0-0.2 0-0.4 0-0.6   c0-0.7 0.2-1.3 0.5-1.9C-393.1 306.8-394.4 306-395.5 304.9z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.5341796875, -293.48583984375)"></path><path id="_d1eV5wz1pSQYNO5f7X612" d="M-380.5 304.9c-1.1 1.1-2.4 1.9-3.8 2.4c0.3 0.6 0.5 1.2 0.5 1.9c0 0.2 0 0.4-0.1 0.6c2-0.6 3.7-1.7 5.2-3.2   c0.5-0.5 0.5-1.3 0-1.8C-379.2 304.4-380 304.4-380.5 304.9z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.8450927734375, -293.4609680175781)"></path><path id="_8tezbcfapC6JbbErHqgPZ" d="M-398.5 295.6c-0.7 0-1.3-0.2-1.9-0.6c-0.2-0.1-0.3-0.2-0.5-0.3c-0.4 2-0.4 4.1 0.2 6.1c0.1 0.6 0.7 0.9 1.2 0.9   c0.1 0 0.2 0 0.3 0c0.7-0.2 1.1-0.9 0.9-1.5C-398.7 298.6-398.7 297.1-398.5 295.6z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.5411987304688, -293.8068542480469)"></path><path id="_KejGAnvjBc-ZysR8fSmw6" d="M-389.9 285.6c-0.2-0.7-0.9-1.1-1.5-0.9c-2 0.5-3.8 1.5-5.3 2.9c0.2 0.1 0.4 0.2 0.5 0.3c0.6 0.3 1.1 0.8 1.4 1.4   c1.2-1 2.5-1.7 4-2.1C-390.1 286.9-389.7 286.3-389.9 285.6z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.661865234375, -294.6300964355469)"></path><path id="_1yw99xWY_AcEl5jYIXRdE" d="M-379.8 287.8c0.2-0.1 0.4-0.2 0.5-0.3c-1.5-1.4-3.3-2.3-5.3-2.9c-0.7-0.2-1.3 0.2-1.5 0.9c-0.2 0.7 0.2 1.3 0.9 1.5   c1.5 0.4 2.8 1.1 4 2.1C-380.9 288.7-380.4 288.2-379.8 287.8z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.4905395507812, -294.4464416503906)"></path><path id="_BHmYJk9BeSnxYmihIdF5J" d="M-375.2 294.7c-0.2 0.1-0.3 0.2-0.5 0.4c-0.6 0.3-1.2 0.5-1.9 0.6c0.3 1.5 0.2 3.1-0.2 4.5c-0.2 0.7 0.2 1.3 0.9 1.5   c0.1 0 0.2 0 0.3 0c0.5 0 1.1-0.4 1.2-0.9C-374.8 298.8-374.7 296.7-375.2 294.7z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.9392700195312, -293.8068542480469)"></path><path id="_iRqgxQp7ue1v1bUF_UN7I" d="M-376.4 293.8c0.3-0.2 0.6-0.4 0.8-0.7c0.6-0.8 0.7-2 0.2-2.9c-0.5-0.9-1.4-1.3-2.3-1.3c-0.1 0-0.2 0-0.3 0   c-0.3 0-0.7 0.2-1 0.3c-0.5 0.3-0.8 0.7-1 1.1c-0.4 0.8-0.4 1.7 0.1 2.5c0.5 0.8 1.3 1.3 2.2 1.3c0 0 0.1 0 0.1 0   C-377.3 294.1-376.8 294-376.4 293.8z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 780.8236083984375, -294.17388916015625)"></path><path id="_sT2ba1MaX17GVB85GRmZ1" d="M-388 306.6c-0.9 0-1.8 0.5-2.2 1.2c-0.3 0.4-0.4 0.9-0.4 1.5c0 0.4 0.1 0.7 0.2 1c0.4 1 1.4 1.6 2.5 1.6   c1.1 0 2-0.7 2.5-1.6c0.1-0.3 0.2-0.7 0.2-1c0-0.5-0.2-1-0.4-1.5C-386.3 307-387.1 306.6-388 306.6z" fill="#e7edf2" transform="matrix(1.8364317417144775, 0, 0, 1.8364317417144775, 781.3961791992188, -293.6236572265625)"></path></g></svg>
								</div>
							</a>
						</div>
						<div class="col-lg-3 mb-4 mb-lg-0">
							<h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4" id="contact">İletişim Kanalları</h4>
							<ul class="list list-unstyled">
								<li class="d-flex align-items-baseline"><i class="far fa-dot-circle text-color-primary mr-3"></i>
									<div><span class="text-color-light">Adres:</span> İzmir</div></li>
								<li class="d-flex align-items-baseline"><i class="fab fa-whatsapp text-color-primary mr-3"></i>
									<div><span class="text-color-light">Tel:</span> 0551 647 47 93</div></li>
								<li class="d-flex align-items-baseline"><i class="far fa-envelope text-color-primary mr-3"></i>
									<div><span class="text-color-light">Email:</span> <a href="mailto:info@abakusyazilim.com">info@abakusyazilim.com</a></div></li>
							</ul>
						</div>
						<div class="col-lg-2 mb-4 mb-lg-0">
							<h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Menü</h4>
							<ul class="list list-unstyled">
								<li class="mb-1">
									<a class="link-hover-style-1 active" data-hash data-hash-offset="95" href="#home">Anasayfa</a>
								</li>
								<li class="mb-1">
									<a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#about">Hakkımızda</a>
								</li>
								<li class="mb-1">
									<a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#solutions">Hizmetler</a>
								</li>
								<li class="mb-1">
									<a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#news">Blog</a>
								</li>
								<li class="mb-1">
									<a class="link-hover-style-1"  data-hash data-hash-offset="95" href="#contact">İletişim</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<h4 class="font-weight-normal text-color-light text-5 ls-0 mb-4">Haber Bülteni</h4>
							<p>Değişen teknolojiler hakkında bilgi almak için bültenimize abone olun.</p>
							<div class="alert alert-success d-none" id="newsletterSuccess">
								<strong>Success!</strong> You've been added to our email list.
							</div>
							<div class="alert alert-danger d-none" id="newsletterError"></div>
							<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mw-100">
								<div class="input-group">
									<input class="form-control form-control-sm text-color-light custom-bg-color-1 rounded-0 border-0 px-4 text-3" placeholder="Email Adresi..." name="newsletterEmail" id="newsletterEmail" type="text">
									<span class="input-group-append">
										<button class="btn btn-primary text-color-light text-2 rounded-0 py-3 px-4" type="submit"><strong>ABONE OL</strong></button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="footer-copyright footer-copyright-style-2">
					<div class="container py-2">
						<div class="row justify-content-between py-4">
							<div class="col-auto">
								<p>© Copyright 2023. Abaküs Yazılım tüm hakları saklıdır.</p>
							</div>
							<!-- <div class="col-auto">
								<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light ml-3">
									<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
									<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
									<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>
			</footer>

		</div>

		<!-- Vendor -->
		<script src="ui/vendor/jquery/jquery.min.js"></script>
		<script src="ui/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="ui/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="ui/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="ui/vendor/popper/umd/popper.min.js"></script>
		<script src="ui/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="ui/vendor/common/common.min.js"></script>
		<script src="ui/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="ui/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="ui/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="ui/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="ui/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="ui/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="ui/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="ui/vendor/vide/jquery.vide.min.js"></script>
		<script src="ui/vendor/vivus/vivus.min.js"></script>
		<script src="ui/vendor/kute/kute.min.js"></script>
		<script src="ui/vendor/kute/kute-svg.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="ui/js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="ui/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="ui/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="ui/js/views/view.contact.js"></script>

		<!-- Demo -->
		<script src="ui/js/demos/demo-seo.js"></script>

		<!-- Theme Custom -->
		<script src="ui/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="ui/js/theme.init.js"></script>
	
		<script src="ui/global/jquery.form.js"></script>

		<script>

			$('#url_form').ajaxForm({
				beforeSubmit: function (e) {

				},
				beforeSend: function (e) {

				},
				complete: function (result) {
					console.log(result.responseJSON)

					if (result.responseJSON.isSuccess) {
						$("#result_content").addClass("alert-success")
					}
					else {
						$("#result_content").addClass("alert-danger")
					}
					$("#result_content span").html(result.responseJSON.message)
					$("#result_modal").modal("show")
				}
			});

			$('#free_seo_form').ajaxForm({
				beforeSubmit: function (e) {

				},
				beforeSend: function (e) {

				},
				complete: function (result) {
					console.log(result.responseJSON)

					if (result.responseJSON.isSuccess) {
						$("#result_content").addClass("alert-success")
					}
					else {
						$("#result_content").addClass("alert-danger")
					}
					$("#result_content span").html(result.responseJSON.message)
					$("#result_modal").modal("show")
				}
			});

			$("#result_modal").on("hidden.bs.modal", function(){
				document.querySelector("#result_content").classList = "alert"
			})

            $("#whatsapp_btn").on("click", function(){
                //window.location.href = "https://wa.me/+905516474793"
                window.open("https://wa.me/+905516474793", "_blank")
            })
		</script>
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->



	</body>
</html>
